@import '../baseStyle/index';
.ysui-btn{
  height: 88*$px;
  line-height: 88*$px;
  border-radius: 88*$px;
  text-align: center;
  color:#fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
  padding: 0 40*$px;
  font-size: $f30;
  &.ysui-btn-primary{
    background-color:$c1;
    &.ysui-btn-disabled{
      opacity: .5;
    }
    &.ysui-btn-selected, &:active{
      background-color: $c10;
    }
  }
  &.ysui-btn-warn{
    background-color:#e64340;
    &.ysui-btn-disabled{
      opacity: .5;
    }
    &.ysui-btn-selected, &:active{
      background-color: #d7312e;
    }
  }
  &.ysui-btn-default{
    height:84*$px;
    color:$c2;
    background-color:#fff;
    border:2*$px solid $c4;
    border-radius: 84*$px;
    &.ysui-btn-disabled{
      color:$c5;
      border-color:$c5;
    }
    &.ysui-btn-selected, &:active{
      color:$c1;
      border-color:$c1;
    }
  }
}